/*resert*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
}

body {
  min-height: 100dvh;
}

h1, h2, h3, h4, h5 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

header {
  background-color: #545454;
  text-align: center;
}

main {
  background-color: #545454;
  color: #d9d9d9;
  padding: 2%;
  font-family: "Raleway", serif;
}
main h3 {
  font-size: 1rem;
}
main h2 {
  font-size: 1.2rem;
}
main h1 {
  font-size: 2rem;
}
main h4 {
  font-size: 1rem;
}
main p {
  font-size: 1rem;
}
main a {
  text-decoration: none;
  color: #d9d9d9;
}

.buscar {
  display: flex;
} 

#inputBuscar{
  background-color:#d9d9d9;
  width: 50%;
  padding: 1%;
  font-size: 1rem;
  border: 1px solid #737373;
  border-radius: 2%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

#contenedorDeTarjetas { 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  
}

@media screen and (max-width: 750px) {
  #contenedorDeTarjetas {
    grid-template-columns: 1fr;
  }
}

.card-principal{
  color: #737373;
  height: auto;
  margin: 1%;
  background-color: #66c6e4;
  padding: 3%;
  gap: 10%;
  text-align: center;
}

.card-principal img {
  border-radius: 50%;
  padding: 3%;
}
.card-principal .card-text {
  padding: 2%;
}


button {
  background-color: #737373;
  color: #FFFFFF;
  text-align: center;
  padding: 1%;
  border-radius: 3%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 2rem;
  
}

button :hover {
  background-color: #66c6e4;
  color: #545454;
}

button .agregar  {
  width: 2rem;
  padding: 5%;
  margin: 5%;
}

#reserva {
  background-color: #66c6e4;
  color: #545454;
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.tarjetaReserva {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



/* se usa important para js pq reserva ya tiene display flex y entra en confilcto con display none*/
.oculta {
  display: none !important ;
}


.mensaje {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #66c6e4; 
  color: #FFFFFF;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease;
}

.mensaje.error {
  background-color: #f44336;
}

.mensaje.oculto {
  opacity: 0;
  pointer-events: none;
}


footer {
  background-color: #66c6e4;
  text-align: center;
  color: #FFFFFF;
}


